{% load static %}
<div class="card-dark shadow-soft p-3">

  <div class="d-flex justify-content-between align-items-center mb-3">

    <a href="{% url 'create_view' %}" class="btn btn-success">
      <i class="bi bi-plus-lg"></i>
      <span class="d-none d-sm-inline">Cadastrar</span>
    </a>

    {% include 'partials/products/product_filters.html' %}
  </div>

  <!-- Table View (Desktop) -->

  {% include 'partials/products/product_desktop_view.html' %}

  <!-- Card View (Mobile) -->
 
  {% include 'partials/products/product_mobile_view.html' %}
  
  <!-- Pagination Controls -->

  {% if products_list.has_other_pages %}

  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">

      {% if products_list.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ products_list.previous_page_number }}&per_page={{ per_page }}&period={{ period }}"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
      {% endif %}

      {% for i in products_list.paginator.page_range %}

        {% if products_list.number == i %}

        <li class="page-item active">
          <span class="page-link">{{ i }}</span>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}&per_page={{ per_page }}&period={{ period }}">{{ i }}</a>
        </li>

        {% endif %}

      {% endfor %}

      {% if products_list.has_next %}

      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ products_list.next_page_number }}&per_page={{ per_page }}&period={{ period }}"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
        
      </li>
      {% else %}

      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>

      {% endif %}
    </ul>

  </nav>

  {% endif %}

  {% include "partials/modals/fast_sell.html" %}

  {% block scripts %}
    <script src="{% static 'js/fastSell.js' %}"></script>
  {% endblock %}
</div>