{% load static %} 
  <header class="header-color shadow-sm sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark container">
  
      <a class="navbar-brand fw-bold" href="{% url 'products_view' %}">
        <h2 class="mb-0">
          <i class="bi bi-box-seam me-2"></i>Bricker
        </h2>
      </a>

      {% comment %} Begin:: Mobile menu {% endcomment %}
      <div class="d-flex align-items-center ms-auto">
        {% comment %} Onboarding button {% endcomment %}

        {% if user.is_authenticated %}

        <button class="btn d-lg-none me-2" data-bs-toggle="modal" data-bs-target="#onBoardingModal">
          <img src="{% static 'img/icons/help-circle.svg' %}" alt="help" style="width: 24px;">
        </button>
        {% endif %}

        <!-- Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      {% comment %} End:: Mobile menu {% endcomment %}

      <!-- 3. Conteúdo colapsável -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          {% if user.is_authenticated %}
          {% if user_agent.is_pc %}
          <li class="nav-item">
            <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#onBoardingModal">
              <img src="{% static 'img/icons/help-circle.svg' %}" alt="help circle icon">
            </button>
          </li>
          {% endif %}



          <li class="nav-item d-none">
            <a class="nav-link text-white" href="#">
              <i class="bi bi-cart-check"></i> Vendas
            </a>
          </li>

          <li class="nav-item d-none">
            <a class="nav-link text-white" href="#">
              <i class="bi bi-cash-coin"></i> Financeiro
            </a>
          </li>

          <li class="nav-item ms-lg-2">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm rounded-pill px-3">
                <i class="bi bi-box-arrow-right"></i> Sair
              </button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm rounded-pill px-3 text-white fw-bold">
              Bem vindo
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>